name: CI Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  php-tests:
    runs-on: ubuntu-latest

    steps:
      # Check out the repository
      - name: Checkout repository
        uses: actions/checkout@v4

      # Set up PHP
      - name: Set up PHP
        uses: shivammathur/setup-php@v3
        with:
          php-version: '8.3'  # یا نسخه PHP مورد نیاز خود را اینجا وارد کنید
          coverage: none
      
      # Install Composer dependencies
      - name: Install Composer dependencies
        run: composer install --prefer-dist --no-progress --no-suggest

      # Run PHPUnit tests
      - name: Run tests
        run: ./vendor/bin/phpunit --debug
